@page "/gerente-dashboard"
@if (!AuthService.IsUserLoggedIn())
{
    <h3>Dashboard Gerente</h3>
    <MudText Typo="Typo.h6" Color="Color.Error">Você não está logado. Por favor, faça login para acessar o dashboard.</MudText>
}
else
{

}

@code {



}